passwordAdmin = "<% ADMIN PASSWORD %>";
password = "<% PASSWORD %>";
hostname = "[1RRF] <% SERVER NAME %> - 1st-rrf.com - 1st Rapid Response Force Simulation Unit";
maxPlayers = 120;

motd[] = {
  "1st Rapid Response Force - Simulation Unit",
  "",
  "This server is automatically monitored and may restart, with warning, at any time.",
  "",
  "This server will restart at 0200, 0600, 1200, 1800, 2000 UTC. The server will lock 10 minutes before this."
};

voteThreshold = 1.1;
voteMissionPlayers = 180;
kickduplicate = 1;

allowedFilePatching = 0;
disconnectTimeout = 10;

verifySignatures = 2;
disableVoN = 1;

BattlEye = 1;
timeStampFormat = "short";
forceRotorLibSimulation = 1;
persistent = 1;

missionWhitelist[] = {
  "1st_rrf_training.wake"
}

class Missions
{
	class COOP_RRF_TRAINING
	{
		template = "1st_rrf_training.wake";
		difficulty = "regular";
	};
};
